* {
    background-color: blue;
}

h1 {
    background-color: gray;
    border: solid 5px black;
    color: aquamarine;
    font-size: 50px;
}

h2 {
    background-color: green;
    border: solid;
}

p {
    color: red;
    background-color: black;
    border: solid 5px white;

}

