/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
} */

/* html {
    background-color: rgb(27, 166, 247);
    font-size: 16px;
    border-radius: 15px;
} */

/*body {
    background-color: rgb(182, 123, 51); 
    width: 50%;
    font-size: 3rem; 
} */

/* h1 {
    border: 50px;
    border-top: 50px;
    border-bottom: 50px;
    border-left: 50px;
    border-right: 50px;
    border: 30px 10px 5px 2px;
}

h2 {
    border: solid;
    display: block;
}

p {
    display: block;
    border: solid 5px black;
}

#teste111 {
    background-color: aquamarine;
    border: solid 3px;
}

#descricao {
    background-color: orange;
}

#dialogo {
    background-color: red;
    border: solid 3px;
}

.testediv {
    background-color: gray;
    padding: 20px;
}

.testediv h2{
    background-color: blue;
}

#dialogo span {
    background-color: blue;
    color: white;
} */

/* .pai {
    background-color: red;
    width: 50%;
    font-size: 1.5rem;
}

.filha {
    background-color: orange;
    width: 50%;
    font-size: 0.5rem;
} */

/* .pixel {
    background-color: red;
    width: 200px;
    height: 200px;
} */



/* VH e VW */

/* .primeira-secao {
    background-color: rgb(9, 9, 143);
    min-width: 100vw;
    min-height: 100vh;
    border-bottom: 10px solid green;
}

.segunda-secao {
    background-color: rgb(116, 10, 10);
    width: 100%;
    height: 100vh;
}

.primeira-secao > div {
    background-color: black;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
} */



/* Box-sizing: Border Box */

/* div{
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid green;
}

.com-border-box{
    background-color: blue;
    box-sizing: border-box;
}

.sem-border-box{
    background-color: brown;
    box-sizing: border-box;
} */



/* Atividade 1 de HTML e CSS iniciantes */

.Lista1 {
    padding-left: 25px;
    margin-left: 20px;
    margin-right: 75%;
}

.Lista1 li{
    border-bottom: solid 1px;
}

.paragrafo1 {
    background-color: #F5F5F5;
    margin: 40px;
    padding: 20px;
}

.paragrafo2 {
    background-color: #F0CCE2;
    margin: 40px;
    padding: 21px;
}