* {
    background-color: rgb(12, 76, 78);
}

h1 {
    border: 50px;
    border-top: 50px;
    border-bottom: 50px;
    border-left: 50px;
    border-right: 50px;
    border: 30px 10px 5px 2px;
}

h2 {
    background-color: green;
    border: solid;
}

p {
    color: red;
    background-color: black;
    border: solid 5px white;

}

