/* h1 {
    border: 50px;
    border-top: 50px;
    border-bottom: 50px;
    border-left: 50px;
    border-right: 50px;
    border: 30px 10px 5px 2px;
}

h2 {
    border: solid;
    display: block;
}

p {
    display: block;
    border: solid 5px black;
}

#teste111 {
    background-color: aquamarine;
    border: solid 3px;
}

#descricao {
    background-color: orange;
}

#dialogo {
    background-color: red;
    border: solid 3px;
}

.testediv {
    background-color: gray;
    padding: 20px;
}

.testediv h2{
    background-color: blue;
}

#dialogo span {
    background-color: blue;
    color: white;
} */

html {
    background-color: rgb(27, 166, 247);
    font-size: 32px;
}

body {
    background-color: rgb(182, 123, 51);
    width: 50%;
    font-size: 2em;
}

.pai {
    background-color: red;
    width: 50%;
    font-size: 1.5em;
}

.filha {
    background-color: orange;
    width: 50%;
    font-size: 1.5em;
}


